# OpenWrt/Linux kernel style, as in libubox and unetd.
BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 8
TabWidth: 8
ContinuationIndentWidth: 8
ColumnLimit: 100
BreakBeforeBraces: Linux
IndentCaseLabels: false
IndentGotoLabels: false
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignEscapedNewlines: Left
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakStringLiterals: false
Cpp11BracedListStyle: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
ReflowComments: false
RemoveBracesLLVM: true
SortIncludes: Never
SpaceBeforeParens: ControlStatements
