
config cake_adapt 'main'
	option enabled '0'
	option interface 'eth0'
	option adjust_dl_shaper_rate '0'
	option min_dl_shaper_rate_kbps '5000'
	option base_dl_shaper_rate_kbps '20000'
	option max_dl_shaper_rate_kbps '80000'
	option adjust_ul_shaper_rate '0'
	option min_ul_shaper_rate_kbps '5000'
	option base_ul_shaper_rate_kbps '20000'
	option max_ul_shaper_rate_kbps '35000'

	# Latency frequency options
	# option randomize_reflectors '1'
	# option no_pingers '6'
	# option reflector_ping_interval_s '0.3'
	# option retain_reflector_stats '1'

	# Required reflector list.
	list reflectors '1.1.1.1'
	list reflectors '1.0.0.1'
	list reflectors '8.8.8.8'
	list reflectors '8.8.4.4'
	list reflectors '9.9.9.9'
	list reflectors '9.9.9.10'
	list reflectors '9.9.9.11'
	list reflectors '94.140.14.15'
	list reflectors '94.140.14.140'
	list reflectors '94.140.14.141'
	list reflectors '94.140.15.15'
	list reflectors '94.140.15.16'
	list reflectors '64.6.65.6'
	list reflectors '156.154.70.1'
	list reflectors '156.154.70.2'
	list reflectors '156.154.70.3'
	list reflectors '156.154.70.4'
	list reflectors '156.154.70.5'
	list reflectors '156.154.71.1'
	list reflectors '156.154.71.2'
	list reflectors '156.154.71.3'
	list reflectors '156.154.71.4'
	list reflectors '156.154.71.5'
	list reflectors '208.67.220.2'
	list reflectors '208.67.220.123'
	list reflectors '208.67.220.220'
	list reflectors '208.67.222.2'
	list reflectors '208.67.222.123'
	list reflectors '185.228.168.9'
	list reflectors '185.228.168.10'

	# Output and logging options
	# option output_processing_stats '0'
	# option output_load_stats '0'
	# option output_reflector_stats '0'
	# option output_summary_stats '0'
	# option output_cake_changes '0'
	# option output_cpu_stats '0'
	# option output_cpu_raw_stats '0'
	# option debug '1'
	# option log_DEBUG_messages_to_syslog '0'
	# option log_to_file '1'
	# option log_file_max_time_mins '10'
	# option log_file_max_size_KB '2000'
	# option log_file_path_override ''

	# Advanced optional options
	# option enable_sleep_function '1'
	# option connection_active_thr_kbps '2000'
	# option sustained_idle_sleep_thr_s '60.0'
	# option min_shaper_rates_enforcement '0'
	# option pinger_method 'fping'
	# option dl_avg_owd_delta_max_adjust_up_thr_ms '10.0'
	# option ul_avg_owd_delta_max_adjust_up_thr_ms '10.0'
	# option dl_owd_delta_delay_thr_ms '30.0'
	# option ul_owd_delta_delay_thr_ms '30.0'
	# option dl_avg_owd_delta_max_adjust_down_thr_ms '60.0'
	# option ul_avg_owd_delta_max_adjust_down_thr_ms '60.0'
	# option log_file_buffer_timeout_ms '500'
	# option log_file_export_compress '1'
	# option ping_extra_args ''
	# option ping_prefix_string ''
	# option irtt_session_duration_m '10'
	# option monitor_achieved_rates_interval_ms '200'
	# option monitor_cpu_usage_interval_ms '2000'
	# option bufferbloat_detection_window '6'
	# option bufferbloat_detection_thr '3'
	# option alpha_baseline_increase '0.001'
	# option alpha_baseline_decrease '0.9'
	# option alpha_delta_ewma '0.095'
	# option shaper_rate_min_adjust_down_bufferbloat '0.99'
	# option shaper_rate_max_adjust_down_bufferbloat '0.75'
	# option shaper_rate_min_adjust_up_load_high '1.0'
	# option shaper_rate_max_adjust_up_load_high '1.04'
	# option shaper_rate_adjust_down_load_low '0.99'
	# option shaper_rate_adjust_up_load_low '1.01'
	# option high_load_thr '0.75'
	# option bufferbloat_refractory_period_ms '300'
	# option decay_refractory_period_ms '1000'
	# option reflector_health_check_interval_s '1.0'
	# option reflector_response_deadline_s '1.0'
	# option reflector_misbehaving_detection_window '60'
	# option reflector_misbehaving_detection_thr '3'
	# option reflector_replacement_interval_mins '60'
	# option reflector_comparison_interval_mins '1'
	# option reflector_sum_owd_baselines_delta_thr_ms '20.0'
	# option reflector_owd_delta_ewma_delta_thr_ms '10.0'
	# option stall_detection_thr '5'
	# option connection_stall_thr_kbps '10'
	# option global_ping_response_timeout_s '10.0'
	# option if_up_check_interval_s '10.0'
